.main-box{
    background: rgb(190, 190, 245);
    padding: 1rem;
}
#box1 {
    border: 2px solid;
    width: 250px;
    font-size: 20px;
    background-color: burlywood;
    padding: 20px 30px;
    margin:50px
    
    
}
#box2 {
    border: 2px solid;
    width: 250px;
    padding: 20px 30px;
    font-size: 20px;
    background-color: beige;
    margin: 4rem;


}