#box1 {
    border: 2px solid;
    width: 250px;
    font-size: 20px;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 100px;
    background-color: burlywood;
    padding: 20px;
    margin:50px
    
    
}
#box2 {
    border: 2px solid;
    width: 250px;
    padding: 20px;
    font-size: 20px;
    background-color: beige;
    margin: 4rem;


}